@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  height: 100vh;
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
}