.Button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 8px;
}

.Button:hover {
  background-color: rgb(146 114 177);
}

.clear {
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  color: var(--bg-color);
  background-color: var(--secondary-color);
}

.outline:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 2px solid;
  border-color: var(--inverted-bg-color);
}
